:root{
    --main-font:'Besley', serif;
    --secondary-font:'Montserrat', sans-serif;
    --accent-color: #a0412c;
    --light-font-color: #ddd4cd;
    --light-font-color-tr: rgb(221, 212, 205, .7);
    --dark-font-color: #333;
    --gap:1rem;
    --line-thickness:2px;
    --line-offset:calc(var(--gap) /2);
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html{
    overflow-x: hidden;
    font-size: 62.5%;
}

body{
    font-family: var(--main-font);
	background-color:var(--light-font-color);
    height:100vh;
    position: relative;
}

.container{
	margin: 0 auto;
}


.header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
	display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100vw;
    height: 10rem;
    background-color: #1a1a1acb;
    color: var(--light-font-color);
	list-style:none;
    text-align: center;
    z-index: 2;
}

.nav-list{
    display: flex;
    gap: 4rem;
    font-family: var(--secondary-font);
}

.nav-item{
    font-size: 1.8rem;
    color: var(--light-font-color);
    cursor: pointer;
	text-decoration:none;
    transition: all 500ms;
}

.nav-item:hover{
    color: var(--accent-color);
}

.title{
    font-size: 3rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.hero-img{
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(to left top,rgba(35, 35, 35, 0.3),rgba(0, 0, 0, 0.5)),
        url("img/watches-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.hero{
    flex-direction: column;
    padding-top: 16rem;
    padding-bottom: 20rem;
}

.hero-title{
    font-size: 4.8rem;
    width: 90rem;
    text-align: center;
    color: var(--light-font-color);
    margin-top: 15rem;
}

.carousel{
    display: flex;
    align-items: center;
    margin: auto;
    /* margin-bottom: 20rem; */
    width: 80rem;
    height: 30rem;
    background-color: var(--light-font-color);
    position: relative;
}

.slider-box{
    display: flex;
    align-items: center;
    margin: 0 5rem;
    max-width: 70rem;
}

.slider{
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
	scrollbar-width: none;
    display: flex;
    gap: 10rem;
}

.slide{
    display: flex;
    justify-content: space-between;
    width: 70rem;
    height: 20rem;
    scroll-snap-align: center;
    gap: 10rem;
}

.carousel-text{
    display: flex;
    align-items: center;
    font-family: var(--secondary-font);
    color: var(--dark-font-color);
    width: 40rem;
    font-size: 1.6rem;
}

.img-box{
    object-fit: cover;
}

.carousel-img{
    width: 20rem;
    height: 20rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.carousel-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.carousel-btn{
    width: 1rem;
    height: 1rem;
    background-color: var(--accent-color);
    border-radius: 50%;
    opacity: 0.75;
    transition: all 300ms;
}

.carousel-btn:hover{
    opacity: 1;
}

/*/////////////// Info */
.info-page{
    position: absolute;
    padding-top: 12.5rem;
}

.info-box{
    display: flex;
    font-family: var(--secondary-font);
    width: 90rem;
    height: 45rem;
    border-radius: 2rem;
    overflow: hidden;
}

.price-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--light-font-color-tr);
    width: 50%;
    height: 100%;
    color: var(--dark-font-color);
}

.price-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
}

.price-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    align-content: center;
    gap: var(--gap);
    font-size: 2rem;
    text-align: center;
    width: 90%;
    height: 14rem;
    overflow: hidden;
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    justify-self: stretch;
    position: relative;
}

.grid-item::after,
.grid-item::before{
    content: "";
    position: absolute;
    background-color: var(--dark-font-color);
}

.grid-item::after{
    width: 100vw;
    height: var(--line-thickness);
    top: calc(var(--line-offset) * -1);
    left: 0;
}

.grid-item::before{
    width: var(--line-thickness);
    height: 100vh;
    top: 0;
    left: calc(var(--line-offset) * -1);
}

.time-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    color: var(--light-font-color);
    background-color: var(--accent-color);
    width: 50%;
    height: 100%;
}

.time-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
}

.hours{
    margin-bottom: 2rem;
}


/*/////////////// Contact */
.contact-page{
    position: absolute;
}

.contact-form-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50rem;
}

.contact-title{
    font-size: 4rem;
    color: var(--light-font-color);
    text-align: center;
}

.form{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 1rem;
    height: 18rem;
}

.input-box{
    position: relative;
}

.input-field{
    display: flex;
    font-family: var(--secondary-font);
    align-items: center;
    background-color: var(--light-font-color-tr);
    font-size: 2.4rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 1rem;
    opacity: 0.7;
    transition: all 500ms;
}

.input-field:focus{
    outline: none;
    opacity: 1;
}

.input-field::placeholder{
    display: flex;
    color: var(--dark-font-color);
    font-weight: 600;
}

.input-field:focus::placeholder{
    color: transparent;
}

.input-name{
    padding-left: 4rem;
}

.input-email{
    padding-left: 4rem;
}

.message-input{
    resize:none;
}

.fa-regular{
    position: absolute;
    size: 3rem;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.form-btn{
    font-family: var(--secondary-font);
    background-color: var(--accent-color);
    color: var(--light-font-color);
    font-size: 2.4rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    transition: all 350ms;
}

.form-btn:hover{
    background-color: var(--light-font-color);
    color: var(--accent-color);
    border: 3px solid var(--accent-color);
    transform: translate(0, 3px);
}

/*////////////////
/FOOTER 
////////////////*/

.footer {
    background-color: #333;
    color: #f0f0f0;
    padding: 4rem 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem;
}

.footer-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 1rem;
}

.footer-section h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    border-bottom: 0.1rem solid #f0f0f0;
    padding-bottom: 0.5rem;
}

.footer-section p, .footer-section a {
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    margin: 0.5rem 0;
    color: #f0f0f0;
    text-decoration: none;
}

.footer-section a{
    transition: all 200ms;
}

.footer-section a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

.footer-bottom {
    text-align: center;
    padding-top: 4rem;
    border-top: 0.1rem solid #f0f0f0;
    margin-top: 2rem;
}

.footer-bottom p {
    margin: 0;
    font-size: 1.4rem;
}